@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Diplomata|Playball|Vast+Shadow&display=swap');

.header{
	display: flex ;
	justify-content: center;
	width: 100%;
	height: auto;
	font-size: 125px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 100;
	text-shadow: 5px 5px rgb(227, 244, 248);
	text-decoration:none;
}

.subheader {
	display: flex ;
	justify-content: center;
	width: 100%;
	height: auto;
	margin-top: -100px;
	font-size: 50px;
	color: white;
	font-family: 'Playball', cursive;
	text-shadow: 2px 2px rgb(184, 209, 216);
}

.section1 {
	border-width: 2px;
	border-color: rgb(245, 216, 190);
	background-color:  rgb(245, 216, 190);
    width: 49%;
    height: 400px;
    display: flex ;
    justify-content: center;
    align-items: center;
	color: white;
	font-size: 50px;
	font-family: 'Fjalla One', sans-serif;
	transition: 0.3s;
}

.section1:hover {
	border-color: white;  /* -50, -90 */
	background-color:  rgb(245, 166, 100);
	transform: scale(1.02, 1.02)
}
.section2 {
	border-width: 2px;
	border-color: #F4DECB;
	background-color: #F4DECB;
    width: 49%;
    height: 400px;
    display: flex ;
    justify-content: center;
    align-items: center;
	color: white;
	font-size: 50px;
	font-family: 'Fjalla One', sans-serif;
	transition: 0.3s;
}
.section2:hover {
	border-color:white;
	background-color: rgb(252, 188, 136);
	transform: scale(1.02, 1.02)
}


.page {
    display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	justify-content: center;
    align-items: center;
}

.footer{
	width: 100%;
    height: 150px;
	margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
	background-color: rgb(154, 194, 201);
	color:#123C69;
	text-shadow: 0px 1px 5px rgb(255, 255, 255);

}

.mSection {
	width: 100%;
	height: 75px;
	margin: 0 auto;
	padding:0px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;
	background-color: rgb(190, 202, 204);
	background-image: linear-gradient(-90deg, rgb(154, 194, 201), rgb(238, 245, 247), rgb(154, 194, 201));
	text-shadow:0px 1px 5px #123C69;
	color: white;
}

.mtext {
	display: inline-block;
	padding:20px;
}


.nav {
	width: 100%;
	height:auto;
	justify-content: center;
    align-items: center;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 22px;
}

.button{
	background-color:transparent;
	border-color: transparent;
	color: #123C69;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	width: 10%;
	height: 5%;
	
}

.button:hover {
	color: rgb(231, 140, 65);
	transition-duration: 0.3s;
}

@media only screen and (min-width: 961px) {
    body {
        background-color: white
    }

    .page {
        width: 1500px;
        margin: 0 auto;
    }

	.section {
		width: 45%;
		margin: 0 auto;
	}

    

    }
